.card {
  width: 540px;
}

.card__list-details{
  padding-left: 0;
}

.card__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.card__title {
  margin: 0 0 32px;
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-item {
  display: flex;
  font-family: 'Noto Serif', "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-left: 0;
  margin-bottom: 16px;
}
.card__list-item:last-child{
  margin-bottom: 0;

}
.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}
