.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  border-radius: 4px;
  height: 60px;
  border: 1px solid #838383;

}

.form__input::placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  color: #838383;
  padding-left: 5%;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  border-radius: 4px;
  opacity: 100%;
  transition: opacity 0.2s ease-in-out;
  height: 60px;
  background-color: #2f80ed;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.form__button:hover {
  opacity: 70%;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  gap: 12px;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
  width: 20px;
  height: 20px;
  margin: 0;
}
