.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;

}

.nav__links {
  display: flex;
  padding: 0;
  margin: 30px 0 80px;
  gap: 20px;
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.nav__link:hover {
  color: #1f69c9;
}
