.page{
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  height: 100vh;
  padding: 1px
}

.header{
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  flex-direction: column;

}
.nav{
  display: flex;
  justify-content: space-between;
}
.header__image{
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}
.nav__links{
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 20px;
}
.nav__link{
  color: #000;
  text-decoration: none;
}

.header__title{
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
}
.header__description{
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px;
}
.header__span-accent{
  display: block;
  color: blue;
}
.header__footer{
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.header__paragraph{
  margin: 0;
}
.recipes{
  padding: 100px 80px 215px;
}
 .recipes__videos{
  display: flex;
  gap: 100px;
  justify-content: center;
 }
 .recipes__video-caption{
  display: flex;
  justify-content: space-between;
 }
.reservation{
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-color: #d9e7ff;
  padding: 1px;
  padding: 100px 0 120px 0;

}

.reservation__title{
  margin: 100px 0 80px 0;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form{

  margin: 100px 0 12px;


}

.form{
  max-width: 385px;
  margin: 0 auto;
}

.form__fieldset{
  padding: 0;
  margin: 0;
  border: none;

}

.form__label{
  display: block;
  margin-bottom: 8px;
}

.form__label_type_checkbox{
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.form__label_type_checkbox input{
  height: 20px;
  width: 20px;

}

.form__label_type_checkbox label{
  margin-left: 12px;

}

.form__input{
  padding: 20px 10px;
  display: block;
  box-sizing: border-box;
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
}

.form__button{
  width: 100%;
  padding: 20px;
  margin-bottom: 32px;
  color: white;
  background-color: blue;
}
.form__label_checkbox{
  text-align: center;
}
