.page{
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-color: #d9e7ff;
}

.reservation{
  padding: 100px 0 12px;
}

.reservation__title{
  margin: 100px 0 80px 0;
  text-align: center;
  font-size: 45px;
}

.reservation__form{
  margin: 0 auto;
}

.form{
  max-width: 385px;
}

.form__fieldset{
  padding: 0;
  margin: 0;
  border: none;
}

.form__label{
  display: block;
  margin-bottom: 8px;
}

.form__label_type_checkbox{
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.form__label_type_checkbox input{
  height: 20px;
  width: 20px;
}

.form__label_type_checkbox label{
  margin-left: 12px;
}

.form__input{
  padding: 20px 10px;
  display: block;
  box-sizing: border-box;
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
}

.form__button{
  width: 100%;
  padding: 20px;
  margin-bottom: 32px;
  color: white;
  background-color: blue;
}
